<%- include('templates/headAdmin') %>
<h1>Crear nuevo producto</h1>
<form id="formAddProduct" class="container-fluid">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" name="name" required>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" class="form-control" type="text" name="description" required>
    </div>

    <div class="form-group">
        <label for="photo">photo</label>
        <input id="photo" class="form-control" type="text" name="photo" required>
    </div>

    <div class="form-group">
        <label for="price">price</label>
        <input id="price" class="form-control" type="number" name="price" required>
    </div>

    <div class="form-group">
        <label for="stock">stock</label>
        <input id="stock" class="form-control" type="text" name="stock" required>
    </div>

    <button type="submit" class="btn btn-success mt-3">Enviar</button>
</form>
<div id="infoResult" class="toggle"></div>

<script>
    let form = document.getElementById('formAddProduct')
    form.addEventListener('submit', (e)=>{
        e.preventDefault()
        let name = document.getElementById('name')
        let description= document.getElementById('description')
        let photo= document.getElementById('photo')
        let price= document.getElementById('price')
        let stock= document.getElementById('stock')
        let infoResult = document.getElementById('infoResult')

        let obj = {
            name: name.value,
            description: description.value,
            photo: photo.value,
            price: price.value,
            stock: stock.value,
        }

        ejec('/api/v1/products/', obj)
    })

    function ejec(url, obj){
        fetch(url, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        }).then((res)=>{
            // return !res.ok?Promise.reject(res.json()):res.json()
            if(!res.ok){
                throw (res.json())
            }else{
                return res.json()
            }
        }).then((json)=>{
            console.log("desde then",json.data[0].name);
            document.getElementById("formAddProduct").reset();

            infoResult.innerHTML = `
                <div class="modalInfo">
                    <h2 class="title_success">Nuevo producto añadido!</h2>
                    <h5>Id: ${json.data[0].id}</h5>
                    <h5>Nombre: ${json.data[0].name}</h5>
                    <h5>Descripcion: ${json.data[0].description}</h5>
                    <h5>Photo: <img src='${json.data[0].photo}'></h5>
                    <h5>Price: ${json.data[0].price}</h5>
                    <h5>Stock: ${json.data[0].stock}</h5>
                    <h5>Código: ${json.data[0].code}</h5>
                    <h5>Timestamp: ${json.data[0].timestamp}</h5>
                    <button id="btn">cerrar</button>
                </div>`
                
                infoResult.classList.add('active');
                document.getElementById('btn').addEventListener('click', (e)=>{
                    infoResult.classList.remove('active');
                })
                
        }).catch((err)=>{
            return err.then((e)=>{
                console.log("desde catch", e.data.error);
                infoResult.innerHTML = `
                    <div class="modalInfo">
                        <h2 class="title_error">Hubo un error!</h2>
                    ${e.data.error}: <b> ${e.data.info} </b>
                        <button id="btn">cerrar</button>
                    </div>
                `
                infoResult.classList.add('active');
                document.getElementById('btn').addEventListener('click', (e)=>{
                    infoResult.classList.remove('active');
                 })
            })
        })
    }
</script>
<%- include('templates/foot') %>