<%- include('templates/head.ejs')%>
<div class="alert alert-info" role="alert">
    Error! no pudo registrarse el usuario.
    <button type="button" class="btn btn-warning"><a href="/api/v1/auth/register">Volver</a></button>
</div>
<%- include('templates/foot.ejs')%>