<%- include('templates/head.ejs')%>
<div class="alert alert-info" role="alert">
    Error! Daton incorrectos!
    <button type="button" class="btn btn-warning"><a href="/api/v1/auth/login">Volver</a></button>
</div>
<%- include('templates/foot.ejs')%>